#
# This source file is part of the Stanford Biodesign Digital Health Next.js Template open-source project
#
# SPDX-FileCopyrightText: 2023 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

.git
.next
.results
scripts
*Dockerfile*
.dockerignore
npm-debug.log
README.md
LICENSE.md
LICENSES
node_modules
.env
